<div style="text-align:center; margin-top: 50px;">
  <h3>Login</h3>
  
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div>
      <label for="email">Correo electrónico:</label><br>
      <input type="email" id="email" formControlName="email" placeholder="Ingresa tu correo">
      <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
        <small *ngIf="loginForm.get('email')?.errors?.['required']">El correo es obligatorio</small>
        <small *ngIf="loginForm.get('email')?.errors?.['email']">Correo no válido</small>
      </div>
    </div>
    <br>

    <div>
      <label for="password">Contraseña:</label><br>
      <input type="password" id="password" formControlName="password" placeholder="Ingresa tu contraseña">
      <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
        <small *ngIf="loginForm.get('password')?.errors?.['required']">La contraseña es obligatoria</small>
      </div>
    </div>
    <br>

    <button type="submit">Iniciar sesión</button>
  </form>

  <div *ngIf="errorMsg" style="color:red; margin-top: 10px;">
    {{ errorMsg }}
  </div>

  <p>¿No tienes cuenta? <a routerLink="/autenticacion/registro">Regístrate</a></p>
</div>
